body {
    height: 100%;
    position: relative;
    background-image: url('../photos/Backgrounds/BG.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Helvetica";
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#id_logout {
    margin-right: 2%;
    float: right;
}



