<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" href="CSS/albumStyle.css" th:href="@{/CSS/albumStyle.css}" />
<link rel="stylesheet" type="text/css" media="all" href="CSS/style.css" th:href="@{/CSS/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="id_backToHome">
    <a th:href="@{/GoToHome}">Back to Home</a>
</div>
<div id="id_logout">
    <a th:href="@{/Logout}">Logout</a>
</div>


<div>

    <table th:if="${not #lists.isEmpty(photos)}">
        <tbody>
            <tr>

                <!--<td th:if="${before}"><input th:href="@{/GetPhotos(albumId=${albumId}, set=${set-1})}" type="submit" value="<"></td>-->
                <td th:if="${before}"><a th:href="@{/GetPhotos(albumId=${albumId}, set=${set-1}, imgSelected=-1)}">Back</a></td>

                <td th:each="photo : ${photos}">

                    <p th:text="${photo.title}">title</p>
                    <a th:href="@{/GetPhotos(albumId=${albumId}, set=${set}, imgSelected=${photo.id})}"><img th:src="@{photo.path}" src="../Resources/default.png"/></a>

                </td>

                <!--<td th:if="${next}"><input th:href="@{/GetPhotos(albumId=${albumId}, set=${set+1})}" type="submit" value=">"></td>-->
                <td th:if="${next}"><a th:href="@{/GetPhotos(albumId=${albumId}, set=${set+1}, imgSelected=-1)}">Next</a></td>
            </tr>
        </tbody>
    </table>
    <p th:if="${ #lists.isEmpty(photos)}">No photos yet!</p>




    <table th:if="${imgSelected < 6}" id="tableDetail">
        <caption>Image selected:</caption>

        <tbody>
            <tr>
                <th>Title</th><td th:text="${photos[imgSelected].title}">title</td>
            </tr>
            <tr>
                <th>Date</th><td th:text="${photos[imgSelected].date}">2020-02-02</td>
            </tr>
            <tr>
                <th>Description</th><td th:text="${photos[imgSelected].description}">This is a description</td>
            </tr>
            <tr>
                <th>Image</th><td><img th:src="@{photos[imgSelected].path}" src="../Resources/default.png"/></td>
            </tr>
        </tbody>

        <tfoot>
            <tr>

                <table th:if="${not #lists.isEmpty(photos[imgSelected].comments)}">
                    <caption>Comments:</caption>
                    <tr th:each="comment : ${photos[imgSelected].comments}">
                        <td th:text="${comment.username} + ': ' + ${comment.text}">user: text</td>
                    </tr>
                </table>

            </tr>
        </tfoot>
    </table>

</div>



</body>
</html>