<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" href="CSS/albumStyle.css" th:href="@{/CSS/albumStyle.css}" />
<link rel="stylesheet" type="text/css" media="all" href="CSS/style.css" th:href="@{/CSS/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="id_backToHome">
    <a th:href="@{/GoToHome}">Back to Home</a>
</div>
<div id="id_logout">
    <a th:href="@{/Logout}">Logout</a>
</div>


<table th:if="${not #lists.isEmpty(photos)}">
    <tbody>
        <tr>

            <!--<td th:if="${before}"><input th:href="@{/GetPhotos(albumId=${albumId}, set=${set-1})}" type="submit" value="<"></td>-->
            <td th:if="${before}"><a th:href="@{/GetPhotos(albumId=${albumId}, set=${set-1})}">Back</a></td>

            <td th:each="photo : ${photos}">

                <p th:text="${photo.title}">title</p>
                <img th:href="@{/GetPhotoDetails(albumId=${albumId}, photos=${photos}, set=${set}, before=${before}, next=${next})}" th:src="@{photo.path}" src="../Resources/default.png"/>

            </td>

            <!--<td th:if="${next}"><input th:href="@{/GetPhotos(albumId=${albumId}, set=${set+1})}" type="submit" value=">"></td>-->
            <td th:if="${next}"><a th:href="@{/GetPhotos(albumId=${albumId}, set=${set+1})}">Next</a></td>
        </tr>
    </tbody>
</table>
<p th:if="${ #lists.isEmpty(photos)}">No photos yet!</p>




<table id="photoTable">
    <caption>Image selected:</caption>
    <thead>
        <tr>
            <th>Title</th>
        </tr>
        <tr>
            <th>Date</th>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${photo.title}">title</td>
        </tr>
        <tr>
            <td th:text="${photo.date}">2020-02-02</td>
        </tr>
        <tr>
            <td th:text="${photo.description}">This is a description</td>
        </tr>
        <tr>
            <td><img alt="Forest" th:src="@{photo.path}" src="../Resources/default.png"/></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <!--<td colspan="4">Comments</td>-->

            <table>
                <caption>Comments:</caption>
                <tr th:each="comment : ${photo.comments}">
                    <td th:text="${comment.user}: ${comment.text}">user: text</td>
                </tr>
            </table>

        </tr>
    </tfoot>
</table>


</body>
</html>