<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Home Page</title>

        <script src="js/utils.js" charset="utf-8" defer></script>
        <script src="js/galleryManagement.js" charset="utf-8" defer></script>

        <link rel="stylesheet" type="text/css" media="all" href="CSS/style.css" />
        <link rel="stylesheet" type="text/css" media="all" href="CSS/albumStyle.css" />
    </head>
    <body>

        <div>   <!-- div per la parte alta -->
            <div id="id_logout">
                <a href="Logout">Logout</a>
            </div>
            <h1>Welcome to the Gallery's Home Page</h1>
            <p>Nice to see you again <span id="id_username"></span></p>
            <div id="id_mainAlert"></div>
        </div>

        <div>   <!-- div per la tabella con gli album -->
            <h2>Albums:</h2>

            <p id="id_alert_albums"></p>
            <table id="id_table_albums">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody id="id_tableBody_albums"></tbody>
            </table>
        </div>


        <div>   <!-- div per la tabella con le 5 foto -->
            <p id="id_alert_photos"></p>
            <table id="id_table_photos">
                <tbody id="id_tableBody_photos">
                <!--<tr>

                    <td id="id_btn_before"><input type="submit" value="<"></td>

                    <td th:each="photo : ${photos}">

                        <p th:text="${photo.title}">title</p>
                        <a th:href="@{/GetPhotos(albumId=${albumId}, set=${set}, imgSelected=${photo.id})}"><img th:src="@{${photo.path}}" src="./photos/default.png" th:class="thumbnail" class="thumbnail"/></a>

                    </td>

                    <td id="id_btn_next"><input type="submit" value=">"></td>

                </tr> -->
                </tbody>
            </table>
        </div>

        <p id="id_alert_photoDetails"></p>
        <div class="vertical_flow">    <!-- div per la tabella di dettaglio -->
            <table id="id_table_photoDetails">
                <caption><h3>Image selected:</h3></caption>

                <tbody id="id_tableBody_photoDetails">
                    <tr>
                        <th>Title</th><td id="id_title_photoDetails">title</td>    <!-- prendo i td tramite selettore -->
                    </tr>
                    <tr>
                        <th>Date</th><td id="id_date_photoDetails">2020-02-02</td>
                    </tr>
                    <tr>
                        <th>Description</th><td id="id_description_photoDetails">This is a description</td>
                    </tr>
                    <tr>
                        <th>Image</th><td><img id="id_image_photoDetails" src="./photos/default.png" class="original"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p id="id_alert_comments"></p>
        <div class="vertical_flow">   <!-- div per la parte dei commenti -->
            <tr>

                <table id="id_table_comments">
                    <caption><h3>Comments:</h3></caption>
                    <tbody id="id_tableBody_comments">
                    <!--<tr>
                        <td th:text="${comment.username} + ': ' + ${comment.text}">user: text</td>
                    </tr>-->
                    </tbody>

                </table>

            </tr>
            <tr>
                <fieldset id="id_fieldset_comment">
                    <form id="id_form_comment">
                        <p>Write here to post a comment:</p>
                        <input type="text" name="comment" placeholder="comment" required>
                        <input type="hidden" name="imgSelected" value="1">
                        <button id="commentButton" type='submit'>Submit</button>
                    </form>
                </fieldset>


            </tr>
        </div>

    </body>
</html>