<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
	  href="CSS/loginStyle.css" th:href="@{/CSS/loginStyle.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>

	<div id="divContainer">

		<div id="divFields">
			<h1>Photo Gallery</h1>

			<input type='checkbox' id='form-switch'>


			<form id='login-form' action="CheckLogin" method='POST'>
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<button type='submit'>Login</button>

				<label for='form-switch'><span>Register</span></label>

			</form>
			<form id='register-form' action="Registration" method='POST'>
				<input type="text" name="username" placeholder="Username" required>
				<input type="text" name="name" placeholder="Name" required>
				<input type="text" name="surname" placeholder="Surname" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="password" name="confPassword" placeholder="Re Password" required>
				<button type='submit'>Register</button>

				<label for='form-switch'>Already Member ? Sign In Now..</label>

			</form>
			<p class="errorMessage" th:text=" ${errorMessage}"></p>
		</div>

	</div>




</body>
</html>